
	<div class="container" id="homepage">
		<div class='row' id='logo'>
		<!-- image -->
		</div>
		<div class='row' id='title'>
		<h3>WeWine</h3>
		<p>The ultimate social wine drinking app.</p>
		</div>
		

<div class="row" id="sign_in_btn">
	<div class="rightButton col s6 btn-group" role="group" aria-label="...">
      <a id="play" class="waves-effect lime lighten-1 btn" href="/logIn"><i class="fa fa-user"></i></i>  Log In</a>
    </div> 


<div class="leftButton col s6 btn-group" role="group" aria-label="...">
      <a id="play" method='POST'class="waves-effect lime lighten-1 btn" href="/signUp">Sign Up  <i class="fa fa-user-plus"></i></a>
    </div> 

</div>
</div>
















