
<!-- 	<div class="container" id="homepage">
		<div class='row' id='logo'>
		<img class="homepage" src="http://sipandnosh.com/wp-content/uploads/2012/11/Wine-ring.jpg">

		</div>
		<div class='row' id='title' id="homepage_h1">
		<h3>WeWine.</h3>
		<p>The ultimate social wine drinking app.</p>
		</div> -->
<div class="homepage">
<div class="row" id="home_row1">
	<div class="col l4 offset-l5">
		<img id="wineround" src="/img/wineround.png">	
	</div>		
</div>


<div class='row' id='title' >
	<div id="homepage_h1" class="col l4 offset-l4">
		<h2>WeWine.</h2>
		<h6>The ultimate social wine drinking app.</h6>
	</div>	
</div>


<div class="row" id="sign_in_btn">
	<div class="rightButton col s6 btn-group" role="group" aria-label="...">
      <a id="play" class="waves-effect teal btn" href="/logIn"><i class="fa fa-user"></i></i>  Log In</a>
    </div> 


<div class="leftButton col s6 btn-group" role="group" aria-label="...">
      <a id="play" method='POST'class="waves-effect teal btn" href="/signUp">Sign Up  <i class="fa fa-user-plus"></i></a>
    </div> 
</div>    


</div>


</div>













