  <div class="row">
  </div>
      <div class="row">
        <div class="col l2">
        </div>
  			<div class="col l6">
  			<div class="card white">
  			<div class="card-content grey-text">
      		<form class="col s12" action="/logIn" method="POST">
          		<div class="row">
            		<div class="input-field col s6">
    	        		<i class="material-icons prefix">account_circle</i>
    	        		<input id="icon_prefix" type="text" class="validate" name='email'>
    	        		<label for="icon_prefix">email</label>
            		</div>
            		<div class="input-field col s6">
            			<i class="material-icons prefix">https</i>
            			<input id="icon_https" type="password" class="validate" name='password'>
             			<label for="icon_https">Password</label>
            		</div>
          		</div>
              <div>
                <button class="submit white">Log in</button>
              </div>
          </form>
        <form method='GET' action='/logIn/facebook'>
          <button class="submit" id="fb_btn"><img class="login_img" src="http://www.codenameone.com/img/blog/facebook-login-blue.png"></button> 
        </form>
      </div>
  </div>