<!-- <div class="leftButton col s6 btn-group" role="group" aria-label="...">
      <a id="play" method='POST'class="waves-effect lime lighten-1 btn" href="/logout">Log Out  <i class="fa fa-user-plus"></i></a>
    </div>  -->

<form action="/wineList" method="POST" role="search">
	<div class="form-group">
	 <input class="input" type="text" id="s" name="s" placeholder="ex. Merlot">

<!-- 	<div class="input-field col s12">
    	<select>
      		<option value="" disabled selected>Choose your option</option>
      		<option value="1">RIESLING</option>
      		<option value="2">GEWÜRZTRAMINER</option>
      		<option value="3">CHARDONNAY</option>
      		<option value="4">SAUVIGNON BLANC</option>
      		<option value="5">SYRAH</option>
      		<option value="6">MERLOT</option>
      		<option value="7">CABERNET SAUVIGNON</option>
      		<option value="8">PINOT NOIR</option>
      		<option value="9">MALBEC</option>
      		<option value="10">ZINFANDEL</option>
      		<option value="11">MOSCATO</option>
    	</select>
    <label>Wine Type</label>
  	</div> -->

	 <button class="submit">Submit</button>
	</div>
</form>
</div>


