

<div class="container" id="upload_photo">
<form enctype="multipart/form-data" action="/settings" method="post">
  <input type="file" name="myFile">
  <button class="submit">Submit</button>
</form>
</div>



