
    <div class="input-field col s12">
      <select>
          <option value="1">RIESLING</option>
          <option value="2">GEWÜRZTRAMINER</option>
          <option value="3">CHARDONNAY</option>
          <option value="4">SAUVIGNON BLANC</option>
          <option value="5">SYRAH</option>
          <option value="6">MERLOT</option>
          <option value="7">CABERNET SAUVIGNON</option>
          <option value="8">PINOT NOIR</option>
          <option value="9">MALBEC</option>
          <option value="10">ZINFANDEL</option>
          <option value="11">MOSCATO</option>
      </select>
    </div>